
body {
    background-image: url("stars.jpg");
    background-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    color: #EEDB00;
}

.char-name {
    color: #EEDB00;
}

p {
    color: #EEDB00;
}